<nav class="nav-bar">
    <div id="frikana-logo"><p style="font-weight: bold; font-size: 18px;">Frikana</p></div>
    <ul class="list">
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contacts">Contact</a></li>
    </ul>
</nav>

<div id="home">
    
    <h1>Frikana Flight Services Limited</h1>
    <div class="plane">
        <div class="inner-plane">  </div>
    </div>
    <div class="content">
     <p>we provide comprehensive flight support services tailored to meet the needs of commercial, private, and chartered flights. Our mission is to ensure that your journey is as seamless and efficient as possible, offering a wide range of services designed to support the aviation community. From securing overfly permits to providing premium fuel services, we handle the logistics, so you can focus on your flight.</p>
    </div>

</div>

<div id="services">
    <div class="heading-2">
        <p style="padding-bottom: 10px;" class="p1">Services Offered</p>
        <h2 style="padding-bottom: 10px;" class="H2">Fly With Confidence</h2>
        <p class="p2">Find the best services offered in the aviation industry</p>
    </div>

    <div class="permits">
        <div class="permit-pic">
        <div class="words">                  
            <p id="one">1</p>
            <h3>Overfly Permits</h3>
            <p class="p3">Navigating the complexities of airspace regulations is critical for flight planning. Our Overfly Permit service takes the hassle out of acquiring the necessary permissions to operate over specific regions. Whether you are flying domestically or internationally, we ensure that your permits are issued promptly and in compliance with all local and international aviation regulations.</p>
            <p style="padding-top: 1rem; font-weight: bold;" class="p4">Key Benefits of Our Overfly Permit Service:</p>
            <li class="p3" >Quick Turnaround: We handle the entire process swiftly to minimize delays in your flight schedule.</li>
               <li class="p3"> Global Coverage: We support overfly permits across various countries and airspaces, ensuring compliance with international flight laws.</li>
                <li class="p3">Expert Assistance: Our team is knowledgeable and experienced in handling complex airspace restrictions, providing you with accurate and reliable services.</li>
                <li class="p3">Simplified Process: We streamline the paperwork and coordination with aviation authorities for you, ensuring a hassle-free experience.</li>
                <p class="p3">No matter your route, we’re here to ensure that your journey remains uninterrupted</p>
        </div>
        <div class="side-pics">
            <div class="pic-1">  <img ngSrc="assets/images/airplane1.jpg" width="220" height="300"></div>
            <div class="pic-2">  <img ngSrc="assets/images/airplane2.jpg" width="220" height="300"></div>
            <div class="pic-3">  <img ngSrc="assets/images/airplane3.jpg" width="220" height="300"></div>
        </div>
        </div>

        <div class="permit-pic">
            <div class="words">
                <p id="one">2</p>
                <h3>Fuel Services</h3>
                <p class="p3">Reliable and high-quality fuel is essential for the safe and efficient operation of any flight. Our Fuel Services provide access to top-tier aviation fuel at competitive prices, delivered directly to your aircraft, wherever you are.</p>
                <p style="padding-top: 1rem; font-weight: bold;" class="p4">Key Benefits of Our Fuel Service:</p>
                <li class="p3">Global Fuel Supply Network: We source fuel from trusted suppliers worldwide, ensuring you have access to the best quality fuel at your destination.</li>
                   <li class="p3">On-time Delivery: We understand the importance of time in aviation and offer fuel delivery services that ensure you are ready for takeoff without delays.</li> 
                        <p id="one" style="margin-top: 1rem;">3</p>
                        <h3>Custom Fuel Solutions</h3>
                        <p class="p3">Whether you need fuel for a short domestic flight or an international journey, we provide flexible solutions to meet your specific needs.</p>
                        <p style="padding-top: 1rem; font-weight: bold;" class="p4">Key Benefits of Our Overfly Permit Service:</p>
                        <p   style="padding-bottom: 1rem;"><li class="p3">Competitive Rates: We offer competitive pricing, ensuring that you receive the best value for your fuel requirements.</li>
                           <li class="p3">Seamless Transactions: Our user-friendly fuel service makes the ordering and payment process simple, so you can focus on other aspects of your flight.</li>
            </div>
            <div class="side-pics">
                <div class="pic-1"> <img ngSrc="assets/images/airplane4.jpg" width="220" height="300"></div>
                <div class="pic-2"> <img ngSrc="assets/images/airplane5.jpg" width="220" height="300"></div>
                <div class="pic-3"> <img ngSrc="assets/images/airplane6.jpg" width="220" height="300"></div>
            </div>
            </div>
                <div class="permit-pic">
                    <div class="words">
                        <p id="one">4</p>
                        <h3>Ground Handling Services</h3>
                        <p class="p3">Our Ground Handling Services ensure smooth and efficient operations at airports, supporting airlines and passengers alike. We specialize in a range of services including:</p>
                        <p style="padding-top: 1rem; font-weight: bold;" class="p4">Key Benefits of Our Overfly Permit Service:</p>
                        <li class="p3">Aircraft Handling: Safe and timely aircraft arrival and departure procedures.</li>
                           <li class="p3">Baggage Handling: Quick and secure management of passenger luggage.</li> 
                            <li class="p3">Cargo Services: Efficient loading and unloading of cargo shipments.</li>
                           <li class="p3">Passenger Assistance: Seamless check-in, boarding, and deplaning services.</li>
                           <li class="p3"> Ramp Services: Aircraft marshaling and towing, refueling, and servicing.</li>
                           <li class="p3">Security & Safety: Adherence to all security protocols and safety regulations.</li> 
                           <p class="p3">With a team of experienced professionals and state-of-the-art equipment, we ensure your flight operations run smoothly from gate to gate.</p>
                    </div>
                    <div class="side-pics">
                        <div class="pic-1"> <img ngSrc="assets/images/airplane7.jpg" width="220" height="300"></div>
                        <div class="pic-2"> <img ngSrc="assets/images/airplane8.jpg" width="220" height="300"></div>
                        <div class="pic-3"> <img ngSrc="assets/images/airplane9.jpg" width="220" height="300"></div>
                    </div>
                    </div>            
    </div>
</div>

<div id="contacts">
    <h2 style="text-align: center;">Why Choose Us?</h2>
    <div class="main-reason">
        <div class="reason-1">
            <div class="circle-1">
                <i class="fa-solid fa-phone"></i>
            </div>
            <p style="padding-top: 1rem; text-align: center; font-weight: bold;" class="p5">24/7 Support</p>
            <p style="padding-top: 0.5rem; text-align: center;" class="p5">Our team is available around the clock to assist with any questions or emergencies.</p>
        </div>
        <div class="reason-1">
            <div class="circle-2">
                <i class="fa-solid fa-users"></i>
            </div>
            <p style="padding-top: 1rem; text-align: center; font-weight: bold;" class="p5">Expert Team</p>
            <p style="padding-top: 0.5rem; text-align: center;" class="p5">With years of experience in the aviation industry, we ensure your needs are met with professionalism and efficiency.
            </p>
        </div>
        <div class="reason-1">
            <div class="circle-3">
                <i class="fa-solid fa-plane"></i>
            </div>
            <p style="padding-top: 1rem; text-align: center; font-weight: bold;" class="p5">Customized Service</p>
            <p style="padding-top: 0.5rem; text-align: center;" class="p5">We cater to both large commercial airlines and private aircraft owners, offering flexible solutions for any size of operation.</p>
        </div>
        
    </div>
</div>